.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    border: solid black 1px;
}

    .gameBoard{
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        border: solid black 1px;
    }
    .cell {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        border: solid black 1px
    }