.container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding:1rem;
}
.gameContainer{
    display:flex;
    text-align: center;
    flex-direction: column;
}
.playerNameRow {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 1.5rem;
    /* border: solid black 1px; */
}

    .gameBoard{
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    .cell {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        border: solid black 1px
    }